.navbar {
  background-color: var(--white);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--gray-100);
  padding-right: 28px;
  padding-left: 12px;
}

.navbar-logo img {
  height: 40px;
}

.active {
  color: var(--blue-base);
}

.nav-link {
  padding: 6px !important;
}

.nav-link.active {
  color: var(--blue-base);
  font-weight: 600;
}

.nav-item {
  cursor: pointer;
  margin-left: 18px !important;
}

.nav-item i {
  font-size: 20px;
}
