<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between menu-certificado w-100">
    <div routerLink="/" class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>
    <app-secondary-button (click)="downloadCertificado()" [textoBotao]="'Download'" [phClass]="'ph ph-download-simple'"></app-secondary-button>
  </div>
  <div #certificadoContainer class="certificado d-flex justify-content-center align-items-center">
    <img class="icone-medalha" src="cert-image/certificateRibbon.svg" alt="Ícone de Medalha">
    <div class="conteudo-certificado">
      <img class="icone-assinatura" src="cert-image/certificateSignature.svg" alt="Ícone de Assinatura">
      <div class="info-certificado d-flex flex-column align-items-center">
        <div class="titulos-certificado">
          <h1>CERTIFICADO DE CONCLUSÃO</h1>
          <p>Este certificado comprova que</p>
        </div>
        <p class="nome-aluno">{{nome}}</p>
        <div class="lista-atividades-group">
          <p class="lista-atividades-titulo">
            @if (isOneActivity) {
            Concluiu com sucesso a seguinte atividade
            }
            @else {
            Concluiu com sucesso as seguintes atividades
            }
          </p>
          <p class="lista-atividades">
            {{atividades}}
          </p>
        </div>
        <p class="data-emissao">Emitido em: {{dataEmissao}}</p>
      </div>
    </div>
  </div>
</div>
